.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: calc((tan(7deg) * 50vw) * -1);

  & .row {
    max-width: 114rem;
    transform: skewY(7deg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: $gutter-horizontal;

    @media only screen and (max-width: 1200px) {
      & {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        max-width: 40rem;
      }
    }

    @media only screen and (max-width: 400px) {
      & {
        max-width: 32rem;
      }
    }
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding-top: 25rem;
  margin-top: calc((tan(7deg) * 50vw) * -1);

  & .row {
    max-width: 114rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: $gutter-horizontal;

    @media only screen and (max-width: 900px) {
      & {
        grid-template-columns: 1fr;
        max-width: 44rem;
      }
    }
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;

  & .row {
    max-width: 114rem;
    margin: 0 auto;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.875) 0%,
      rgba($color-white, 0.875) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);

  @media only screen and (max-width: 900px) {
    background-image: linear-gradient(
        rgba($color-white, 0.875),
        rgba($color-white, 0.875)
      ),
      url(../img/nat-10.jpg);
  }
  background-size: 100%;
  max-width: 114rem;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba($color-black, 0.2);
  height: 50rem;

  @media only screen and (max-width: 1200px) {
    max-width: 100rem;
    height: fit-content;
    background-size: cover;
  }

  @media only screen and (max-width: 900px) {
    max-width: 44rem;
    height: fit-content;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @media only screen and (max-width: 900px) {
      width: fit-content;
    }
  }
}
